/*Cafe Menu Card Project*/
body{
    background: #6F4E37;
    font-family: serif;
    padding: 20px;
}
.menu-card{
    width: 80%;
    max-width:500px;
    background-color: burlywood;
    border-radius: 30px 30px;
    box-shadow: 3px 4px 4px rgb(160, 142, 118), -5px -5px rgb(139, 120, 94);
    margin-left: auto;
    margin-right: auto;
    padding:20px;
}
h1,h2,p,address{
    text-align: center;

}
h1{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}
.established{
    font-style: italic;
}
h2{
    font-size: 30px;
}
h1,h2{
    font-family: Impact, serif;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}
hr{
    height: 2px;
    background-color: brown;
    border-color: brown;
}
.bottom-line{
    margin-top: 25px;
}
.items p{
    display: inline-block;
    font-size: 1.4rem;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
}

.flavor, .dessert{
    text-align: left;
    width: 75%;
    color:  #1b140e;
    
    
}
.price{
    text-align: right;
    width: 25%;
}

